:root {
    --background: #848589;
    --foreground: #ffffff;
}

html,
body {
    max-width: 100vw;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'UbuntuItalic';
    src: url('/fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

* {
    cursor: url('/desktopEmulationAssets/pointer-default.png'), default;
    --resizer-thickness: 2.5px;
    -ms-user-select: none;
    user-select: none;
}